body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f7f9;
}

/* Este container alinha a Sidebar e o Content lado a lado */
.main-layout {
    display: flex;
    /* Move todo o conteúdo para baixo, compensando o Header fixo de 60px */
    padding-top: 60px; 
}

/* O conteúdo principal ocupa o resto da tela horizontalmente */
.content {
    flex-grow: 1;
    padding: 20px;
    min-height: calc(100vh - 60px); 
    transition: margin-left 0.3s ease;
}

/* Exemplo de CSS para a classe full-width */
.full-width {
    width: 100%;
    margin-left: 0; /* Garante que não haja margem lateral do sidebar */
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Layout principal (sidebar + conteúdo) */
.main-layout {
    display: flex;
    flex: 1;
    transition: margin-left 0.3s ease;
    min-height: calc(100vh - 60px);
}

/* Conteúdo principal */
.content {
     flex-grow: 1;
    padding: 20px; /* Padding padrão para o conteúdo */
    transition: margin-left 0.3s ease;
    /* Adicione as configurações de altura e layout */
    min-height: 100%; /* Garante altura total do main-layout */
    box-sizing: border-box; 
    
}

/* Quando a sidebar está fechada */
.sidebar-closed ~ .content {
    margin-left: 70px;
}

/* Se a classe .sidebar-closed estiver no elemento ANTERIOR ao .content: */
.sidebar-closed ~ .content .agendamentos-page {
    transform: translateX(180px);
}

